<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="img">
        <img src="../../../assets/profilePicture.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>{{p.apellido}} {{p.nombre}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mí</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum totam labore necessitatibus corrupti ratione rem iusto, explicabo architecto ut, exercitationem temporibus assumenda voluptate cupiditate maxime facilis itaque quas qui animi!
        </p>
    </div>
</div>
