<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>years</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eaque atque obcaecati voluptate recusandae labore tenetur voluptatem nisi, expedita voluptatibus distinctio eligendi eveniet ut, doloremque delectus deserunt, possimus adipisci fugit?
                </p>
            </li>
        </ul>
    </div>
</div>
